{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Herzlichen Dank für Ihre Teilnahme!
{% endblock %}

{% block content %}
    Die Auszahlung des verdienten Betrages von <b>CHF {{ player.sum_lot_chf }}</b> ({{ player.sum_lot_p }}) erfolgt mit
    untenstehendem Code am <b>Mittwoch, 15. Mai 2019, 12:30 - 13:00 Uhr</b> im Kollegienhaus, vor der Aula.<br><br>
         
    Ihr persönlicher Identitätscode: <b>{{ player.part_id }}</b><br><br>

    Bei Fragen zu der Studie können Sie sich an folgende Adresse wenden: <a href="mailto:adrian.leuenberger@stud.unibas.ch">adrian.leuenberger@stud.unibas.ch</a> <br>
    Bitte notieren Sie sich den Code für die Auszahlung. Danach können Sie das Browserfenster schliessen.<br>


{% endblock %}