{% extends "global/Page.html" %}
{% load otree static otree_tools %}

{% block tracker %}
    {% tracking_time %}
    {% tracking_focus %}
{% endblock %}

{% block title %}
    Instruktionen
{% endblock %}

{% block content %}
    <b>Verständnisfrage 1:</b> <br>
    Nehmen wir an, Sie haben gemäss Tabelle in die Lotterien investiert:

     <html>
<head>
<style>
table {
  #font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Runde Nr.</th>
    <th>Investition</th>
    <th>Ergebnis der Lotterie</th>
  </tr>
  <tr>
    <td>1</td>
    <td>100 Punkte</td>
    <td>nicht erfolgreich</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0 Punkte</td>
    <td>erfolgreich</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0 Punkte</td>
    <td>nicht erfolgreich</td>
  </tr>
  <tr>
    <td>4</td>
    <td>0 Punkte</td>
    <td>nicht erfolgreich</td>
  </tr>
</table>
    <br>
    Wie hoch wäre in diesem Fall die Endauszahlung?<br>

    {% formfield player.control_1 %}


    {% next_button %}

{% endblock %}