<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>




    Sie können entscheiden, ob Sie CHF 0.25 in die folgende Lotterie investieren möchten. <br>


    Mit einer Chance von 1/6 (16%) wird die Lotterie "erfolgreich" und Sie verdienen das Fünffache des investierten Betrages. <br>
    Mit einer Chance von 5/6 (84%) wird die Lotterie "nicht erfolgreich" und Sie verlieren das investierte Geld. <br><br>

    Ob die Lotterie erfolgreich ist oder nicht, wird wie folgt entschieden:<br>
    In jeder Runde erhalten Sie eine "Gewinnzahl" zwischen 1 und 6. Diese wird auf dem Computerbildschirm angezeigt.
    Wenn Sie an der Lotterie teilnehmen, werden Sie zu einer Seite weitergeleitet, auf der Sie klicken, um einen sechsseitigen Würfel zu würfeln. <br>
    Wenn das Ergebnis Ihre "Gewinnzahl" (1/6 Chance) ist, dann wird die Lotterie erfolgreich sein und Sie verdienen das Fünffache des Einsatzes von CHF 0.25, also CHF 1.25. <br>
    Wenn das Ergebnis eine andere Zahl ist (5/6 Chance), dann verlieren Sie den investierten Betrag. <br>
    Ihre Einnahmen aus der Lotterie werden in jeder Runde angezeigt. Sie erhalten dann neue Gewinnzahl zugeteilt und entscheiden, ob Sie an der nächsten Lotterie teilnehmen möchten. <br><br>

    Beachten Sie, dass die Entscheidung, die Lotterie nicht zu spielen, endgültig ist. Wenn Sie also die dritte Runde nicht spielen, können Sie auch an der vierten Runde nicht teilnehmen. <br>
    Am Ende der vier Runden erhalten Sie als Spielauszahlung den CHF 1, mit dem Sie begonnen haben, plus Ihre Nettoeinnahmen aus den Investitionen. Beachten Sie, dass die Nettoerträge aus Kapitalanlagen positiv oder negativ sein können. <br>
    Ihre Spielgebühr wird als Bonus ausgezahlt.