{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Herzlichen Dank für Ihre Teilnahme!
{% endblock %}

{% block content %}
    Die Auszahlung der <b>1/2 Unterschrift</b> und des verdienten Betrages von <b>CHF {{ player.sum_lot_chf }}</b> ({{ player.sum_lot_p }}) können Sie
    mit untenstehendem Code zu folgenden Zeitfenstern abholen:<br><br>

    Dienstag, 7. Mai 2019, 11.45 - 13.15 Uhr<br>
    Donnerstag, 16. Mai 2019, 11.45 - 12.15 Uhr <br>
    Donnerstag, 23. Mai 2019, 11.45 - 12.15 Uhr<br><br>

    <b>Ort:</b> Fakultät für Psychologie, Eingangsbereich (links bei den Tischen)<br><br>
     
    Ihr persönlicher Identitätscode: <b>{{ player.part_id }}</b><br><br>

    Bei Fragen zu der Studie können Sie sich an folgende Adresse wenden: <a href="mailto:adrian.leuenberger@stud.unibas.ch">adrian.leuenberger@stud.unibas.ch</a> <br>
    Bitte notieren Sie sich den Code für die Auszahlung. Danach können Sie das Browserfenster schliessen.<br>


{% endblock %}